.section-one {
background-color: #FFF2E9;
}

.stream{
max-width: 1024px;
margin: auto;
padding: 40px 20px 20px 20px;
display: flex;
justify-content: space-between;
gap: 50px;
/* border: 2px solid; */
}

.stream .left{
/* border: 1px solid red; */
display: flex;
flex-direction: column;
gap: 20px;
}

.stream .left > h1{
font-weight: 400;
font-size: 50px;
font-family: georgia;
line-height: 60px;
}

.stream .left > p{
font-weight: 400;
font-size: 15px;
font-family: "inter";
}

.stream .left > div{
display: flex;
gap: 10px;
}

.stream .left > div button{
padding: 10px;
background-color: black;
border: none;
border-radius: 5px;
color: white;
cursor: pointer;
}

.stream .left > div button:hover{
opacity: 0.7;
}

.section-one > p{
text-align: center;
/* border: 1px solid blue; */
max-width: 1024px;
margin: auto;
margin-top: 50px;
font-size: 15px;
font-family: "inter";
}

.section-one .partners{
max-width: 1024px; 
margin: auto;
margin-top: 20px;
/* border: 1px solid orange;  */
display: flex;
justify-content: center; 
gap: 20px; 
padding-bottom: 30px;
}

/* responsiveness */
@media screen and (max-width: 1023px) {
.stream .right{
    display: none;
}
.stream .left{
 text-align: center;
 max-width: 800px;
 margin: auto;
}
.stream .left > div{
 margin: auto;
}
}

@media screen and (max-width: 700px) {
  .stream .right{
   display: none;
  }

  .section-one .partners,
  .section-one p{
    display: none;
  }

}